@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary"> <div class="panel-heading">User Details</div> <table class="table table-striped"> 
  
            
       </table> 
        swzzb@163.com</div>

        @{
            Html.RenderPartial("PersonInfo");
        } 
    </div>
   
</div>