@model List<DoSoft.Admin.Models.TreeNode>
@{
    //load sitemap
    var siteMap = Model;

}

@helper RenderMenuItem(DoSoft.Admin.Models.TreeNode item)
{
    string url = null;
 
    var isActive = false;


<li class="treeview">
    <a href="#">
        <i class="fa fa-share"></i> <span>@item.Name</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>

    @{ var childNodes = item.Items.ToList(); }
    @if (childNodes.Count > 0)
    {
        <ul class="treeview-menu">
            @foreach (var childItem in childNodes)
            {
                @RenderMenuItem(childItem)
            }
        </ul>
    }
</li>
    
}

<ul class="sidebar-menu" data-widget="tree">
    @{
        //standard (default) items
        var rootNode = siteMap;

    }
    @foreach (var item in rootNode[0].Items)
    {
        @RenderMenuItem(item)
    }
</ul>