@using Eddo.Web.Mvc.Extensions;
@model DoSoft.Admin.Models.Users.UserListModel
@{
    /**/

    ViewBag.Title = "usersIndex";
    Html.SetActiveMenuItemSystemName("用户信息");

}
@section Scripts
{

    @Html.IncludeScript("~/Modules/Admin/Views/Users/Index.js")
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        用户信息
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            添加
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                导出
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <button type="submit" name="exportxml-all">
                        <i class="fa fa-file-code-o"></i>
                        Xml
                    </button>
                </li>
                <li>
                    <button type="button" id="exportxml-selected">
                        <i class="fa fa-file-code-o"></i>
                        ExportToXml
                    </button>
                </li>
                <li class="divider"></li>
                <li>
                    <button type="submit" name="exportexcel-all">
                        <i class="fa fa-file-excel-o"></i>
                        ExportToExcel
                    </button>
                </li>
                <li>
                    <button type="button" id="exportexcel-selected">
                        <i class="fa fa-file-excel-o"></i>
                        ExportToExcel
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>

                                        <div class="input-group">
                                            <input id="UsersTableFilter" name="UsersTableFilter" class="form-control" placeholder="查询" type="text" value="@Model.UserName">
                                            <span class="input-group-btn">
                                                <button id="GetUsersButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="users-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

